<h1>JwtQrcode Sample using Google Charts</h1>
<div style="text-align: center">
  <img src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=<%= @jwt %>" height="250px" width="250px">
</div>

